*{
    text-decoration: none;
    box-sizing: border-box;
    /* border: 1px solid black; */
    background-color: #6c7074 !important;
}

.btn{
    background-color: #FFF !important;
    outline-color: transparent;
}

.header{
    /* border: 1px solid #FFF; */
    display: flex;
}

.navbar{
    background-color: #6c7074;
}

.body, .row{
    background-color: #6c7074 !important;
}

.bg-body-tertiary{
    /* background-color: black; */
}

.container{
    margin: 30px;
    /* padding: 20px; */
    justify-content: space-between;
    font-size: 30px;
    /* border: 1px solid #FFF; */
    width: 100px;
    height: 100px;
}

.container a{
    height: 100%;
}

a{
    /* color: white !important; */
    font-size: 20px;
    margin: 0px;
    display: block;
    border: 0px;
    /* border: 1px solid white !important; */
}

img{
    width: 100px;
}

.password{
    border: 1px solid #FFF;
    margin: 30px;
    padding: 20px;
    justify-content: space-between;
    box-sizing: border-box;
}

.btn-outline-secondary{
    /* margin-left: 300px; */
}

.container-fluid{
    justify-content: space-between !important;
    
}

input{
    /* width: 100%; */
    color: black;
    height: 50px;
    background-color: #FFF !important;
}

textarea{
    height: 75px;
    color: black;
    background-color: #FFF !important;
}


.card-body{
    background-color: #6c7074;
    /* border: 10px solid black; */
    
}

h2, p, label, h5{
    color: #FFF !important;
    text-align: center;
}

input, textarea, button{
    /* border: 2px solid black !important; */
}

.text{
    color: #000;
}

.red:hover{
    background-color: rgb(126, 21, 21) !important;
}

.delete{
    width: 100px;
    margin-top: 5px;
}

.btnkey{
    width: 100% !important;
}

.btndelete{
    width: 50% !important;
    font-size: 30px !important;
}

.submit{
    width: 50% !important;
    height: 60px !important;
}

.simplebtn:hover{
    background-color: #0d6efd !important;
}

.alert__message, .alert__close{
    color: #FFF !important;
}
.alert{
    color: var(--color-main) !important;
}

.form-control{
    font-size: 20px !important;
}

.text{
    color: #FFF;
}

.mainbtn:hover{
    background-color: #198754 !important;
}

.col-12{
    margin: auto;
}

.regbtn{
    width: 60% !important;
}

@media (max-width: 560px) {
    a{
        font-size: 10px !important;
    }
}