*{
    /* background-color: black; */
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid black;
}

.header{
    border: 1px solid #FFF;
    display: flex;
}

nav{
    display: flex;
}


.container{
    margin: 30px;
    /* padding: 20px; */
    justify-content: space-between;
    font-size: 30px;
    border: 1px solid #FFF;
    width: 100px;
    height: 100px;
}

.container a{
    height: 100%;
}

a{
    color: white;
    font-size: 20px;
    margin: 0px;
    display: block;
    border: 0px;
}

img{
    width: 100px;
}

.password{
    border: 1px solid #FFF;
    margin: 30px;
    padding: 20px;
    justify-content: space-between;
    box-sizing: border-box;
}

.btn-outline-secondary{
    /* margin-left: 300px; */
}

.container-fluid{
    justify-content: space-between !important;
    
}

input, textarea{
    /* width: 100%; */
    color: black;
    height: 50px;
}