{% extends 'bank/base.html' %}
{% load static %}
{% block content %}


{% if passwords %}

<div class="row">
    {% for password in passwords %}
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ password.title }}</h5>
                <!--        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                <a href="{% url 'change-key' password.id %}" class="btn btn-primary">ПРОСМОТР/РЕДАКТИРОВАНИЕ</a>
                <a href="{% url 'delete-key' password.id %}" class="btn btn-primary">УДАЛИТЬ КЛЮЧ</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% else %}


<h1>ДОБАВЬТЕ СВОИ НОВЫЕ КЛЮЧИ.</h1>
{% endif %}



{% endblock %}
