{% load static %}
<header class="header">
    <div class="container">
        <a href="/">
            <img src="{% static 'images/logo_lock.svg' %}">
        </a>
    </div>
    <nav>
        <div class="container">
            <a href="/">
                Мои пароли
            </a>
        </div>
        <div class="container">
            <a href="/">
                Добавить пароль
            </a>
        </div>
        <div class="container">
            <a href="/">
                Выйти из аккаунта
            </a>
        </div>
    </nav>

</header>

